.firstModal{

}
.firstModal.open .modalOverlay, .firstModal.open .modalWindow{
    opacity: 1;
    z-index: 1000;
}
.firstModal.hide .modalOverlay, .firstModal.hide .modalWindow{
    opacity: 1;
    z-index: 1000;
}
.firstModal.open .modalWindow{
    transform: translateY(100px);
}
.firstModal.open .modalOverlay{
    background: rgba(0, 0, 0, 0.5);
}
.firstModal.hide .modalWindow{
    transform: translateY(-200px);
}
.firstModal.hide .modalOverlay{
    background: rgba(0, 0, 0, 0);
}
.modalWindow, .modalOverlay{
    opacity: 0;
    z-index: -1;
}
.modalOverlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in;

}
.modalWindow{
    width: 600px;
    border-radius: 4px;
    background: #e1e1e1;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform 0.3s ease-in;

}
.modalHeader{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5b38a;
    background: #f8d2b5;
}
.modalTitle{
    font-size: 1.5rem;
}
.modalClose{
    cursor: pointer;
}
.modalBody{
    padding: 10px;
}
.modalBody p{
    margin: 0 0 5px;
}
.modalFooter{
    padding: 5px 10px;
    /*border-top: 1px solid #8ae5d0;*/
}